.parent .trail-container
{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.trail
{
    position: absolute;
    /* height: 20px;
    width: 20px; */
    border-radius: 50%;
    background: transparent;
    animation: mousetrail 0.5s linear;
}

@keyframes mousetrail {
    from{
        opacity: 1;
        height: 20px;
        width: 20px;
        border:2px solid #5ae3be;
    }to
    {
        border:2px solid #169976;
        height: 0;
        width: 0;
        opacity: 0;
    }
}