.project {
  position: relative; /* parent context */
  display: inline-block;
}

.project .items
{
    background: black;
    border: 4px solid transparent;
    border-image: linear-gradient(180deg, #008d74, #45f1c3) 1;
    border-radius: 10px;
    /* background-color: #169976; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: transform 0.4s ease, background-size 0.4s ease;
}

.project .items .img
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}
.project .items p
{
  background: linear-gradient(180deg, #45f1c3, #008d74);
  /* background-color: #000; */
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
.project .items:hover
{
/* background-size: 85%; Zoom background */
    transform: scale(0.95); 
}
.project .items img
{
    width: 60%;
    margin: auto;
}
p
{
    font-size: 15px;
    font-weight: bold;
    height: 100%;
}

[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  border: 1px solid #1DCD9F;
  box-shadow: 1px 1px 1em black;
  top: 5rem;
  left: 0.5rem;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  /* transition: visibility 0.5s; */
}

/* .items:hover,
.items:active
{
    position: relative;
} */

.items:hover + [role="tooltip"],
.items:focus + [role="tooltip"],
[role="tooltip"]:hover,
[role="tooltip"]:focus {
  visibility: visible;
}